@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-color: white;
  --primary-color: #e3562a;
  --secondary-color: #65aaea;
  --grey: #bebab3;
  --dark-grey: #78746d;
}

/* * {
  box-sizing: border-box;
} */


body {
  padding: 30px;
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 1rem;
}

